    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-596670649242485278.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-596670649242485278.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-596670649242485278.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-596670649242485278.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-596670649242485278.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-596670649242485278.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-596670649242485278.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-596670649242485278.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-596670649242485278.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-596670649242485278.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-596670649242485278.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-596670649242485278.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-596670649242485278.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-596670649242485278.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-596670649242485278.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-596670649242485278.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-596670649242485278.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-596670649242485278.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-596670649242485278.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-596670649242485278.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-596670649242485278.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-596670649242485278.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-596670649242485278.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-596670649242485278.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-596670649242485278.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-596670649242485278.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-596670649242485278.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-596670649242485278.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-596670649242485278.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-596670649242485278.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-596670649242485278.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-596670649242485278.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-596670649242485278.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-596670649242485278.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-596670649242485278.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-596670649242485278.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-596670649242485278.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-596670649242485278.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-596670649242485278.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-596670649242485278.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-596670649242485278.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-596670649242485278.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-596670649242485278.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-596670649242485278.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-596670649242485278.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-596670649242485278.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-596670649242485278.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-596670649242485278.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-596670649242485278.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-596670649242485278.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-596670649242485278.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-596670649242485278.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-596670649242485278.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-596670649242485278.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-596670649242485278.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-596670649242485278.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-596670649242485278.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-596670649242485278.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-596670649242485278.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-596670649242485278.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-596670649242485278.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-596670649242485278.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-596670649242485278.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-596670649242485278.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-596670649242485278.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-596670649242485278.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-596670649242485278.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-596670649242485278.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-596670649242485278.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-596670649242485278.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-596670649242485278.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-596670649242485278.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-596670649242485278.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-596670649242485278.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-596670649242485278.gps.gpsil [style*="--o-mobile:"]{order:var(--o-mobile)}.gps-596670649242485278.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-596670649242485278.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-596670649242485278.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-596670649242485278.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-596670649242485278.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-596670649242485278.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-596670649242485278.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-596670649242485278 .gp-relative{position:relative}.gps-596670649242485278 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-596670649242485278 .gp-mb-0{margin-bottom:0}.gps-596670649242485278 .gp-inline-block{display:inline-block}.gps-596670649242485278 .gp-flex{display:flex}.gps-596670649242485278 .gp-inline-flex{display:inline-flex}.gps-596670649242485278 .gp-grid{display:grid}.gps-596670649242485278 .gp-contents{display:contents}.gps-596670649242485278 .\!gp-hidden{display:none!important}.gps-596670649242485278 .gp-hidden{display:none}.gps-596670649242485278 .gp-h-auto{height:auto}.gps-596670649242485278 .gp-h-full{height:100%}.gps-596670649242485278 .gp-w-full{width:100%}.gps-596670649242485278 .gp-max-w-full{max-width:100%}.gps-596670649242485278 .gp-flex-none{flex:none}.gps-596670649242485278 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-596670649242485278 .gp-flex-col{flex-direction:column}.gps-596670649242485278 .gp-flex-wrap{flex-wrap:wrap}.gps-596670649242485278 .gp-items-center{align-items:center}.gps-596670649242485278 .gp-justify-center{justify-content:center}.gps-596670649242485278 .gp-overflow-hidden{overflow:hidden}.gps-596670649242485278 .gp-leading-\[0\]{line-height:0}.gps-596670649242485278 .gp-text-g-line-3{color:var(--g-c-line-3)}.gps-596670649242485278 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-596670649242485278 .gp-duration-200{transition-duration:.2s}.gps-596670649242485278 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-596670649242485278 .tablet\:\!gp-hidden{display:none!important}.gps-596670649242485278 .tablet\:gp-hidden{display:none}.gps-596670649242485278 .tablet\:gp-h-auto{height:auto}.gps-596670649242485278 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-596670649242485278 .mobile\:\!gp-hidden{display:none!important}.gps-596670649242485278 .mobile\:gp-hidden{display:none}.gps-596670649242485278 .mobile\:gp-h-auto{height:auto}.gps-596670649242485278 .mobile\:gp-flex-none{flex:none}}.gps-596670649242485278 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-596670649242485278 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-596670649242485278 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-596670649242485278 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-596670649242485278 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#F4F2ED","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gDtuk8BXuL"}' data-id="gDtuk8BXuL" id="gDtuk8BXuL" data-same-height-subgrid-container class="gDtuk8BXuL gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:none;--d-mobile:grid;--d-tablet:none;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:80px;--pl:20px;--pb:80px;--pr:20px;--pt-mobile:70px;--pl-mobile:20px;--pb-mobile:70px;--pr-mobile:20px;--pt-tablet:100px;--pl-tablet:20px;--pb-tablet:100px;--pr-tablet:20px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#F4F2ED;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gIgq-VaBSE gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g_yIuotrce"}' data-id="g_yIuotrce" id="g_yIuotrce" data-same-height-subgrid-container class="g_yIuotrce gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pb:0px;--cg:8px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gxj9uDYh4s gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gcM0WALehQ"
        class="gcM0WALehQ"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:12px;--pl:0px;--mt-mobile:0px;--mb-mobile:10px;--pt-mobile:0px;--mb-tablet:12px;--pl-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--fs:normal;--ff:var(--g-font-heading, heading);--weight:400;--size:40px;--size-tablet:40px;--size-mobile:35px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggcM0WALehQ_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gF2BPFggGw"}' data-id="gF2BPFggGw" id="gF2BPFggGw" data-same-height-subgrid-container class="gF2BPFggGw gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:48px;--cg:12px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:center;--jc-mobile:center"
      class="gmYj0IxMBA gp-relative gp-flex gp-flex-col"
    >
      
    
    <div data-id="gNjLeEQij-"  style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
      <div class="gp-flex gp-flex-wrap" style="--cg:2px;--jc:left">
            <div gp-el-wrapper style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--radius:var(--g-radius-none)" class="gzdq9QOaO- ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="g-pVMmXVfo" class="gp-leading-[0] g-pVMmXVfo" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="g-pVMmXVfo" class="icon-wrapper gp-inline-flex gp-overflow-hidden g-pVMmXVfo " style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:#242424;--t:rotate(0deg);--w:14px;--h:14px;--minw:14px;--height-desktop:14px;--height-tablet:14px;--height-mobile:14px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--radius:var(--g-radius-none)" class="gQHSainxrC ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="gwfmSo-uQa" class="gp-leading-[0] gwfmSo-uQa" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="gwfmSo-uQa" class="icon-wrapper gp-inline-flex gp-overflow-hidden gwfmSo-uQa " style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:#242424;--t:rotate(0deg);--w:14px;--h:14px;--minw:14px;--height-desktop:14px;--height-tablet:14px;--height-mobile:14px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--radius:var(--g-radius-none)" class="gxiHBM6j9U ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="gWI0fG4SQT" class="gp-leading-[0] gWI0fG4SQT" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="gWI0fG4SQT" class="icon-wrapper gp-inline-flex gp-overflow-hidden gWI0fG4SQT " style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:#242424;--t:rotate(0deg);--w:14px;--h:14px;--minw:14px;--height-desktop:14px;--height-tablet:14px;--height-mobile:14px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--radius:var(--g-radius-none)" class="gB_YrVLoiX ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="gnbISYIYNZ" class="gp-leading-[0] gnbISYIYNZ" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="gnbISYIYNZ" class="icon-wrapper gp-inline-flex gp-overflow-hidden gnbISYIYNZ " style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:#242424;--t:rotate(0deg);--w:14px;--h:14px;--minw:14px;--height-desktop:14px;--height-tablet:14px;--height-mobile:14px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--radius:var(--g-radius-none)" class="gcmL8MEalQ ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="gHEGYLewWB" class="gp-leading-[0] gHEGYLewWB" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="gHEGYLewWB" class="icon-wrapper gp-inline-flex gp-overflow-hidden gHEGYLewWB " style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:#242424;--t:rotate(0deg);--w:14px;--h:14px;--minw:14px;--height-desktop:14px;--height-tablet:14px;--height-mobile:14px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div>
          </div>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:center;--jc-mobile:center"
      class="gU20M5CkE4 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gVBeAEyH-9"
        class="gVBeAEyH-9"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--mb-mobile:0px;--pt-mobile:2px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:13px;--size-tablet:13px;--size-mobile:12px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pt:0px;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggVBeAEyH-9_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gVBeAEyH-9">
        .gVBeAEyH-9 {

}
.gVBeAEyH-9 p {

}
      </style>
    
    </div>

      
    </gp-row>
  
  {% render 'gp-section-596670649242485278-0', product: product, variant: variant, product_form_id: product_form_id, productSelectedVariant: productSelectedVariant, form: form  %}
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 7",
    "tag": "section",
    "class": "gps-596670649242485278 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/code2goo/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=596670602450830310&sectionId=596670649242485278)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggcM0WALehQ_text","label":"ggcM0WALehQ_text","default":"Hear from Our Customers"},{"type":"html","id":"ggVBeAEyH-9_text","label":"ggVBeAEyH-9_text","default":"<p>2000+ Customers Who Love Us</p>"},{"type":"html","id":"ggxzaOE1cjs_text","label":"ggxzaOE1cjs_text","default":"<p>Michael</p>"},{"type":"html","id":"ggkhHaXpmvh_text","label":"ggkhHaXpmvh_text","default":"<p>Customer&nbsp;</p>"},{"type":"html","id":"ggfX-noIZrC_text","label":"ggfX-noIZrC_text","default":"<p>Verified Buyer</p>"},{"type":"html","id":"ggm3KHMYjb9_text","label":"ggm3KHMYjb9_text","default":"<p>“I've found the fountain of youth!</p>"},{"type":"html","id":"ggRhXhKyhYP_text","label":"ggRhXhKyhYP_text","default":"<p>“I've struggled with dry skin for years, but this cream has been a game-changer. It keeps my skin hydrated all day long.”</p>"},{"type":"html","id":"gglzEQE9xgq_text","label":"gglzEQE9xgq_text","default":"<p>Jessica</p>"},{"type":"html","id":"ggIezq3HMSX_text","label":"ggIezq3HMSX_text","default":"<p>Customer&nbsp;</p>"},{"type":"html","id":"ggaackAdEmP_text","label":"ggaackAdEmP_text","default":"<p>Verified Buyer</p>"},{"type":"html","id":"ggMkyZKoswN_text","label":"ggMkyZKoswN_text","default":"<p>Highly recommend!</p>"},{"type":"html","id":"ggRmei4VPP3_text","label":"ggRmei4VPP3_text","default":"<p>\"I can't get enough of this skin cream! It has noticeably improved my skin's texture and reduced the appearance of fine lines.”</p>"},{"type":"html","id":"ggTV-UMkuw5_text","label":"ggTV-UMkuw5_text","default":"<p>Olivia</p>"},{"type":"html","id":"ggA-0nN8QBO_text","label":"ggA-0nN8QBO_text","default":"<p>Customer&nbsp;</p>"},{"type":"html","id":"ggTQ-6HQdyD_text","label":"ggTQ-6HQdyD_text","default":"<p>Verified Buyer</p>"},{"type":"html","id":"ggMwc6tFBpm_text","label":"ggMwc6tFBpm_text","default":"<p>Rejuvenated every time I use it</p>"},{"type":"html","id":"ggPfzVGz6Tm_text","label":"ggPfzVGz6Tm_text","default":"<p>“I'm impressed by how versatile this skin cream is. It works seamlessly with my makeup, providing a smooth canvas.”</p>"},{"type":"html","id":"ggIp-BsSQfT_text","label":"ggIp-BsSQfT_text","default":"<p>Emily</p>"},{"type":"html","id":"gg0cfXwBots_text","label":"gg0cfXwBots_text","default":"<p>Customer&nbsp;</p>"},{"type":"html","id":"ggVpDCkoSv9_text","label":"ggVpDCkoSv9_text","default":"<p>Verified Buyer</p>"},{"type":"html","id":"gg90GABDN3P_text","label":"gg90GABDN3P_text","default":"<p>Amazing product!</p>"},{"type":"html","id":"ggtCV8TzY7m_text","label":"ggtCV8TzY7m_text","default":"<p>“I absolutely love this skin cream! It has transformed my complexion and given me a radiant glow.”</p>"},{"type":"html","id":"ggFwAg7swyw_text","label":"ggFwAg7swyw_text","default":"<p>Sarah</p>"},{"type":"html","id":"ggYgJ4k5aP4_text","label":"ggYgJ4k5aP4_text","default":"<p>Customer&nbsp;</p>"},{"type":"html","id":"ggLRiJboXew_text","label":"ggLRiJboXew_text","default":"<p>Verified Buyer</p>"},{"type":"html","id":"ggaaDruwwQH_text","label":"ggaaDruwwQH_text","default":"<p>My skin has never looked better!</p>"},{"type":"html","id":"ggXqWp4HpRg_text","label":"ggXqWp4HpRg_text","default":"<p>“I've tried many skin creams, but this one takes the cake. It deeply hydrates my skin without feeling heavy or greasy.”</p>"},{"type":"html","id":"ggq-83rAi1z_text","label":"ggq-83rAi1z_text","default":"<p>Ken K</p>"},{"type":"html","id":"ggY8jNYH8rK_text","label":"ggY8jNYH8rK_text","default":"<p>Customer&nbsp;</p>"},{"type":"html","id":"ggHTOU2CbBL_text","label":"ggHTOU2CbBL_text","default":"<p>Verified Buyer</p>"},{"type":"html","id":"gg3K8Tl3q_I_text","label":"gg3K8Tl3q_I_text","default":"<p>It soothes and nourishes my skin</p>"},{"type":"html","id":"ggrAQcejtPp_text","label":"ggrAQcejtPp_text","default":"<p>“I&nbsp;have sensitive skin, and finding a cream that doesn't irritate it is a challenge. This skin cream is a game-changer for me.”</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}